<div class="container py-5">
  <div class="card mx-auto" style="max-width: 500px">
    <div class="card-header text-capitalize"><h5 class="text-center mb-0">create new question</h5></div>
    <div class="card-body">
      <p class="text-secondary">Complete the Question</p>
      <h4 class="text-capitalize">would you rather...</h4>
      <form [formGroup]="questionForm" (ngSubmit)="saveQuestion(questionForm.value)">
        <input [formControlName]="answerType.optionOne" class="form-control" type="text" placeholder="Enter Option One Text here" />
        <div class="divider-container py-2">
          <hr />
          <span class="or">or</span>
        </div>
        <input [formControlName]="answerType.optionTwo" class="form-control mb-3" type="text" placeholder="Enter Option Two Text here" />
        <button type="submit" class="btn btn-primary w-100 d-block">Submit</button>
      </form>
    </div>
  </div>
</div>
